// variables for display:grid; layout


$total-columns: 12 !default;
$total-rows: 12 !default;
$column-gap: 1.250rem !default;


// colors
$primary-color: #52A0E5 !default;


// common screen sizes. use pixel unit.
$xs-max-width: 767px !default;
$sm-min-width: ($xs-max-width+1);
$sm-max-width: 999px !default;
$md-min-width: ($sm-max-width+1);
$md-max-width: 1199px !default;
$lg-min-width: ($md-max-width+1);
$lg-max-width: 1399px !default;
$xl-min-width: ($lg-max-width+1);